<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">主页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">美食</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">攻略</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">游记</a>
</li>

<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">机场接送</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">骑行</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/categories.html#钓鱼">钓鱼</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/categories.html#打猎">打猎</a>
</li>


<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>

<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">打赏 <i class="fa fa-coffee text-danger"></i></a>
</li>
