<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">主页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/categories.html#美食">美食</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/categories.html#攻略">攻略</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/categories.html#游记">游记</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/categories.html#骑行">骑行</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/categories.html#钓鱼">钓鱼</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/categories.html#打猎">打猎</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">作者</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>

<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">打赏 <i class="fa fa-coffee text-danger"></i></a>
</li>
